.input-container {
  display: inline-block;
  /* flex-direction: column; */
  margin-bottom: 24px;
}

.input-label {
  margin-bottom: 16px;
  font-size: 16px;
}

.input-field {
  outline: none;
  box-sizing: border-box;
  color: #28272a;
  background-color: #f1f1f2;
  padding: 8px;
  font-family: "Press Start 2P", system-ui;
  font-size: 14px;
  font-weight: 600;
  border: 4px solid #232325;
  border-radius: 4px;
  transition: border-color 0.1s ease;
}

.input-field:focus {
  outline: none;
  border: 4px solid #007bff;
}
