.button-container {
  display: flex;
  justify-content: space-between;
}

.local-online-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-block: 40px;
}

.players-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 24px;
}

.players-table th,
.players-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.players-table th {
  font-weight: bold;
}
