.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(9, 9, 11, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  display: flex;
  flex-direction: column;
  background-color: #09090b;
  border-radius: 16px;
  position: relative;
  width: 500px;
  max-width: 90%;
  min-height: 280px;
}

.modal-header {
  flex: 0 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px 10px 20px;
  border-bottom: 2px solid #232325;
}

.modal-close-button {
  color: #f1f1f2;
  background: none;
  padding: 10px 8px 8px 10px;
  border: 2px solid #232325;
  border-radius: 4px;
  font-family: "Press Start 2P", system-ui;
  font-size: 24px;
  cursor: pointer;
}

.modal-close-button:hover {
  color: #757575;
}

h2 {
  margin: 0;
  font-size: 18px;
}

.modal-body {
  flex: 1 1 auto;
  padding: 20px;
  margin-top: 16px;
}
