.container {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  background-image: url("../assets/images/ui/Panel.png");
  background-size:cover;
  background-repeat: no-repeat;
}

#gameCanvas,
#controlCanvas {
  flex-shrink: 0;
}
