body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../src/assets/images/ui/Panel.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;

  color: #f1f1f2;
  font-family: "Press Start 2P", system-ui;
  font-size: 16px;
}
